<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Sidebar</title>
</head>
<body>
    <h1>Sidebar</h1>
    <h3>The premier messaging app for streamlined chaos.</h3>
    <div id="room-10231" class="chatroom">
        <div class="message-log" id="feed-10231"></div>
        <input type="text" class="input-box" id="input-10231" onkeypress="sendMessage(event)">
    </div>
    <div class="user" id="user-25381" style="display: none;"></div>
<script src="../static/scripts.js"></script>
</body>
</html>